body {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.bebas {
  font-family: "Bebas Neue", cursive;
  font-size: 5em;
}

#song-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 50px;
}

.song-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.song-title {
  font-size: 1em;
}

.artist-name {
  font-size: 1.25em;
  font-weight: 600;
}

.no-results {
  font-size: 2em;
}

.emoji-icon {
  width: 100px;
  height: auto;
  justify-content: center;
}
